# IDE files
.vscode/
.idea/
*.swp
*.swo

# Compiled files
*.class
*.log
*.tmp
bin/
target/
build/

# Dependency directories
node_modules/
vendor/
venv/
env/
# Environment files
.env
*.env

# Files Test
*.xlsx
*.xls
*.csv
*.txt
*.ipynb
# Ignore compiled Python files
# Ignore compiled Python files
__pycache__/
*.pyc